{% extends 'base.html' %}
{% load  static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'md_css/pygments.css' %}">
    <script src="{% static 'bootstrap-3.4.1/dist/js/bootstrap.min.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div style="float:left">{{ obj.title }}</div>
            <div style="float:right">浏览次数：{{ num }}</div>
            <div style="clear:both" ¬></div>
        </div>
        <div class="panel-body">
            {{ context|safe }}
        </div>
    </div>

{% endblock %}